<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HolaServlet_HTML</servlet-name>
        <servlet-class>com.vn.appweb.servlets.HolaHtmlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParamServlet</servlet-name>
        <servlet-class>com.vn.appweb.servlets.ParamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletJson</servlet-name>
        <servlet-class>com.vn.appweb.servlets.ServletJson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HolaServlet_HTML</servlet-name>
        <url-pattern>/saludos/hola</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HolaServlet_CSS</servlet-name>
        <servlet-class>com.vn.appweb.servlets.HolaCssServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HolaServlet_CSS</servlet-name>
        <url-pattern>/style.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParamServlet</servlet-name>
        <url-pattern>/formulario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletJson</servlet-name>
        <url-pattern>/datosjson</url-pattern>
    </servlet-mapping>
</web-app>
